/* Importando fonte moderna */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background: #222;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 74vh; /* Ajuste conforme necessário */
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
}

.conteudo {
    position: relative;
    z-index: 1; /* Coloca o conteúdo na frente do vídeo */
    color: black; /* Cor do texto para melhor visibilidade */
    text-align: center;
    padding: 20px;
}

.conteudo h1 {
    font-size: 7vw;
}

.btn {
    display: inline-block;
    background: #ff9800;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

section {
    /*padding: 50px 20px;*/
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.whatsapp-button {
    display: inline-block;
    background-color: #07ee07;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s ease;
    box-shadow: 0px 5px 5px 0px #00000038;
    border: 1px solid rgb(120, 163, 112);
}

.whatsapp-button:hover {
    background-color: #1ebc5c;
}

@media screen and (max-width: 480px) {
    body {
        width: 100%;
        font-size: 14px;
        background-color: #d0d0d0;
        margin: 0;
        padding: 0;
        gap: 0;
    }

    #sobre {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: left;
    }

    .centralizar-sobre {
        width: 80%;
    }

    #depoimentos {
        width: 100%; 
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-bottom: 3%;
    }

    .centralizar-depoimentos{
        width: 80%;
    }

    #contato {
        width: 100%; 
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aqua;
        margin: 0;
        padding-bottom: 3%;
    }

    .centalizar-contato {
        width: 80%;
    }
}